nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  text-shadow: 3px 4px 3px rgba(8, 0, 0, 0.65);
}

.nav__authLinks {
  padding-top: 30px;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ce4ec9;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

#nav-logo {
  height: 10rem;
  margin: -2rem;
  padding: 0;
}
