.news-app {
    display: flex;
    justify-content: center;
}

.news-item {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 75%;
    background-color: whitesmoke;
}
.news-item:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0px 0px 17px 8px rgba(255, 4, 213, 1);  }

    .news-list-outer-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    .news-list{
      height: 75vh;
      width: 60rem;
      margin-left: 5rem;
      margin-right: 5rem;
      overflow-y: scroll;

    }
    .news-img {
        width: 75%;
    }
    .box span {
        width: 2.7rem;
        height: 2.7rem;
      display: block;
        border-right: 2px solid rgb(108,170,245);
        border-bottom: 2px solid rgb(108,170,245);
        box-shadow: 5px 5px 3px -3px rgb(255, 0, 212);
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .box span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    .box span:nth-child(3) {
        animation-delay: -0.4s;
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
            transform: rotate(45deg) translate(10px, 10px);
        }
        100% {
            opacity: 0;
        }
    }
