.App {
  text-align: center;
}

body {
  background: url(../src/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landingpage {
  position: relative;

  color: whitesmoke;

  margin: "auto";
  display: flex;
}

.landingpage h1 {
  font-size: 50px;
  line-height: 70px;
  padding-bottom: 30px;
}

.landingpage p {
  width: 550px;
  font-size: 20px;
  line-height: 28px;
}

.landing-left {
  width: 50%;

  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3rem;
}
.landing-right {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3rem;
}
.landingpage button {
  background-color: #2e227c;
  color: white;
  font-size: 1rem;
  border-style: none;
  border-radius: 30px;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  cursor: pointer;
}

.landingpage button:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 17px 8px rgba(255, 4, 213, 1);
}

.landingpage img {
  width: 90%;
  height: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
